<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.itservicev2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_snap_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_snap_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".KlijentPaket.KlijentActivity"
            android:label="@string/title_activity_klijent" />
        <activity
            android:name=".ChangePassActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".ChangeEmailActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".KlijentPaket.KlijentProblemPopActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ServiserPaket.ServiserActivity" />

        <activity
            android:name=".ServiserPaket.ServiserNeprihvaceniPopActivity"
            android:theme="@style/AppTheme.CustomTheme"/>

        <activity android:name=".ServiserPaket.ServiserProblemPopActivity"
            android:theme="@style/AppTheme.CustomTheme"/>

    </application>

</manifest>